<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ template "scenarios_title" . }} | Wind Tunnel Report</title>
        <meta name="description" content="{{ template "scenarios_description" . }}"/>
        <style>
            {{ template "css" }}
        </style>

        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

        <script>
            {{ template "js" }}
        </script>
    </head>

    <body><main>
        {{ template "scenarios_index" . }}
        {{ template "scenarios_loop" . }}
    </main></body>
</html>
