{{ define "app_install_description" }}
<p>Measure app installation speed. This scenario has two roles:</p>

<ul>
    <li><code>minimal</code>: Installs a simple app which implements initialisation callbacks but otherwise doesn't contain a lot of code.</li>
    <li><code>large</code>: Installs a larger app that contains some dependencies and some generated data as padding to make the bundle larger.</li>
</ul>

<p>These are intended to catch a compilation slowdown or issues with copying around large WASMs (e.g. accidental cloning or tracing). In each case, the behaviour will uninstall the app it installed so that it can re-install it on the next iteration.</p>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "App Install"
    "description" (tmpl.Exec "app_install_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "First install time"
            "description" "The time from conductor startup to completion of the first app installation attempt."
            "content" (tmpl.Exec "scalar" (dict
                "value" .first_install_time
                "unit" "s"
            ))
        ) }}

        {{ with .install_app_timing }}
            {{ template "scenario_metric" (dict
                "name" "Install app timing"
                "description" "The time taken to install an app."
                "content" (tmpl.Exec "timing_and_trend" .)
            ) }}
        {{ end }}
    {{ end }}
</div>
