{{/* The description is a 'partial' that gets passed to the `scenario_summary` template.
We could pass it as a string literal instead, but this is nicer
because your code editor's syntax highlighter can make it look more legible. */}}
{{- define "dht_sync_lag_description" }}
<p>Measures the lag time between an agent publishing data and other peers being able to see it. This scenario has two roles:</p>

<ul>
    <li><b><code>write</code></b>: Creates entries with a timestamp field, linked to a known base hash so that <code>record_lag</code> agents can discover them.</li>
    <li><b><code>record_lag</code></b>: Repeatedly queries for links from the known base hash. When a new entry is discovered, it calculates the time difference between the entry's timestamp and the current time, giving the sync lag for that entry.</li>
</ul>
{{ end -}}

{{/* SCENARIO START */}}

{{ template "scenario_summary" (dict
    "title" "DHT Sync Lag"
    "description" (tmpl.Exec "dht_sync_lag_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Create rate"
            "description" (print `The average number of created records per agent.`)
            "content" (tmpl.Exec "rates_overall_and_per_agent" .create_rate)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Sync lag timing"
            "description" (print `The average time between when a record was created and when it is first seen by an agent.`)
            "content" (tmpl.Exec "timings_overall_and_per_agent" .sync_lag_timing)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Sync lag rate"
            "description" (print `The average number of created records discovered per agent.`)
            "content" (tmpl.Exec "rates_overall_and_per_agent" .sync_lag_rate)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Delivery ratio"
            "description" "The proportion of created entries successfully received by all record_lag agents."
            "content" (tmpl.Exec "scalar" (dict "value" .delivery_ratio))
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Sent count"
            "description" "The total number of entries sent (created) by write agents, by agent."
            "content" (tmpl.Exec "partitioned_counter_stats" .sent_count)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Received count"
            "description" "The total number of entries received by record_lag agents, by agent."
            "content" (tmpl.Exec "partitioned_counter_stats" .recv_count)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors encountered during the scenario."
            "content" (tmpl.Exec "scalar" (dict "value" .error_count))
        ) }}

    {{ end }}

    {{ with .holochain_metrics }}{{ template "holochain_metrics" . }}{{ end }}

    {{ with .host_metrics }}
        {{ template "host_metrics" . }}
    {{ end }}
</div>