{{ define "full_arc_create_validated_zero_arc_read_description" }}
<p>A full-arc/zero-arc mixed scenario where full-arc nodes create data that gets validated and zero-arc nodes read the data. The scenario has two roles:</p>

<ul>
    <li><b><code>full</code></b>: A full-arc conductor that creates entries with a timestamp field. Those entries get validated and then retrieved by zero-arc nodes.</li>
    <li><b><code>zero</code></b>: A zero-arc conductor that reads the entries created by the full-arc node(s) and records the time lag between when the entry had been created and when it was first discovered.</li>
</ul>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "Full-Arc Create (Validated) / Zero-Arc Read"
    "description" (tmpl.Exec "full_arc_create_validated_zero_arc_read_description")
    "data" .run_summary
) }}

{{ define "full_arc_create_validated_zero_arc_read_open_connections" }}
    {{ range . }}
        {{ $key := (index .key 0) }}
        {{ template "scenario_metric_content_item" (dict
            "name" (print $key.value "-" $key.key)
            "content" (tmpl.Exec "min_max_mean_std" .gauge_stats)
        ) }}
    {{ end }}
{{ end }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Create rate"
            "description" "The number of timed entries created by the full-arc node(s) per second."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .create_rate)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Fetch lag timing"
            "description" "For each entry, the time lag between when it was created by a full-arc node and when a zero-arc node fetched it from the network."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .fetch_lag_timing)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Fetch rate"
            "description" "The number of entries per second fetched by zero-arc nodes."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .fetch_rate)
        ) }}

        {{ with .open_connections.partitions }}
            {{ template "scenario_metric" (dict
                "name" "Open connections"
                "description" "The number of currently open connections to other conductors."
                "content" (tmpl.Exec "full_arc_create_validated_zero_arc_read_open_connections" .)
            ) }}
        {{ end }}

        {{ with .retrieval_errors }}
            {{ if gt .total_count 0 }}
                {{ template "scenario_metric" (dict
                    "name" "Retrieval errors"
                    "description" "Errors encountered by zero-arc nodes when attempting to retrieve entries created by full-arc nodes."
                    "content" (tmpl.Exec "partitioned_counter_stats" .)
                ) }}
            {{ end }}
        {{ end }}

        {{ with .app_validation_workflow_duration }}
            {{ template "scenario_metric" (dict
                "name" "App validation workflow duration"
                "description" "The time taken to apply app validation to the data."
                "content" (tmpl.Exec "timing_and_trend" .)
            ) }}
        {{ end }}

        {{ with .system_validation_workflow_duration }}
            {{ template "scenario_metric" (dict
                "name" "System validation workflow duration"
                "description" "The time taken to apply system validation to the data."
                "content" (tmpl.Exec "timing_and_trend" .)
            ) }}
        {{ end }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors accumulated across all nodes."
            "content" (tmpl.Exec "scalar" (dict
                "value" .error_count
            ))
        ) }}

        {{ template "holochain_p2p_metrics" .holochain_p2p_metrics }}
    {{ end }}
</div>
