{{ define "remote_signals_description" }}
<p>This scenario tests the throughput of <code>remote_signals</code> operations.</p>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "Remote Signals"
    "description" (tmpl.Exec "remote_signals_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Round trip time"
            "description" "The time from origin signal dispatch to origin receive of the remote side's response signal."
            "content" (tmpl.Exec "timing_and_trend" .remote_signal_round_trip)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Timeouts"
            "description" "The number of timeouts waiting for the remote side's response signal (default timeout is 20 seconds)."
            "content" (tmpl.Exec "scalar" (dict
                "value" (default 0 .remote_signal_timeout)
            ))
        ) }}

        {{ if .p2p_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Outgoing p2p request duration"
                "description" "The time spent sending an outgoing p2p request awaiting the response"
                "content" (tmpl.Exec "timing_and_trend" .p2p_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p request handling duration"
                "description" "The time spent handling an incoming p2p request"
                "content" (tmpl.Exec "timing_and_trend" .p2p_handle_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_ignored_count }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p requests ignored"
                "description" "The number of incoming p2p requests that have been ignored."
                "content" (tmpl.Exec "scalar" (dict "value" .p2p_handle_request_ignored_count))
            ) }}
        {{ end }}
    {{ end }}
</div>