{{- define "remote_call_rate_description" }}
<p>Test the throughput of <code>remote_call</code> operations. Each agent in this scenario waits for a certain number of peers to be available or for up to two minutes, whichever happens first, before starting its behaviour.</p>
{{ end -}}

{{ template "scenario_summary" (dict
    "title" "Remote Call Rate"
    "description" (tmpl.Exec "remote_call_rate_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Dispatch timing"
            "description" "The time between sending a remote call and the remote handler being invoked."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .dispatch_timing)
        ) }}
        {{ template "scenario_metric" (dict
            "name" "Round-trip timing"
            "description" "The total elapsed time to get a response to the client."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .round_trip_timing)
        ) }}

        {{ template "holochain_p2p_metrics" .holochain_p2p_metrics }}
    {{ end }}
</div>
