{{- define "validation_receipts_description" }}
<p>Creates an entry, wait for required validation receipts, then repeat. Records the amount of time it took to accumulate the required number of receipts for all DHT operations. This is measured to the nearest 20ms so that we don't keep the agent too busy checking for receipts.</p>

<p>Each agent in this scenario waits for a certain number of peers to be available or for up to two minutes, whichever happens first, before starting its behaviour.</p>

<p>By default, this scenario will wait for a complete set of validation receipts before committing the next record. If the <code>NO_VALIDATION_COMPLETE</code> environment variable is set, it will instead publish new records on every round, building up an ever-growing list of action hashes to check on.</p>
{{ end -}}

{{ template "scenario_summary" (dict
    "title" "Validation Receipts"
    "description" (tmpl.Exec "validation_receipts_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Receipts complete timing"
            "description" "The amount of time between publishing a record and receiving the required number of validation receipts."
            "class" "large"
            "content" (tmpl.Exec "timings_overall_and_per_agent" .receipts_complete_timing)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Receipts complete rate"
            "description" "The number of complete validation receipt sets collected per second."
            "class" "large"
            "content" (tmpl.Exec "rates_overall_and_per_agent" .receipts_complete_rate)
        ) }}

        {{ if .p2p_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Outgoing p2p request duration"
                "description" "The time spent sending an outgoing p2p request awaiting the response"
                "content" (tmpl.Exec "timing_and_trend" .p2p_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p request handling duration"
                "description" "The time spent handling an incoming p2p request"
                "content" (tmpl.Exec "timing_and_trend" .p2p_handle_request_duration)
            ) }}
        {{ end }}
    {{ end }}
</div>
