{{ define "write_validated_must_get_agent_activity_description" }}
<p>A scenario where <b><code>write</code></b> agents create entries in batches of 10, while zero-arc <b><code>must_get_agent_activity</code></b> agents repeatedly attempt to create entries that depend on a batch.</p>

<p>The purpose of this scenario is to measure the performance of <code>must_get_agent_activity</code> calls, and to measure the error rate (that is, the number of times validation can't complete because of an <code>UnresolvedDependencies</code> error).</p>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "Write Validated <code>must_get_agent_activity</code>"
    "description" (tmpl.Exec "write_validated_must_get_agent_activity_description")
    "data" .run_summary
) }}

{{ template "mixed_arc_shared" . }}