{{ define "write_validated_must_get_agent_activity_description" }}
<p>A scenario where <b><code>write</code></b> agents create entries, while <b><code>get_agent_activity</code></b> agents create entries which are validated with a <code>must_get_agent_activity</code> call for a single <code>write</code> agent's activity.</p>

<p>Before a target <code>write</code> peer and the requesting peer are in sync, the <code>must_get_agent_activity</code> request will go over the network. Once a <code>write</code> peer reaches sync with the requesting <code>must_get_agent_activity</code> peer, the <code>write</code> peer will publish their actions and entries, and so the <code>must_get_agent_activity</code> calls will likely have the data it needs locally. At that point this measures the database query performance and code paths through host functions.</p>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "Write / Validated <code>must_get_agent_activity</code>"
    "description" (tmpl.Exec "write_validated_must_get_agent_activity_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Highest observed <code>action_seq</code>"
            "description" "The change in the <code>get_agent_activity</code> peer's source chain tip over the run."
            "content" (tmpl.Exec "delta" .write_validated_must_get_agent_activity_chain_len)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "<code>create_validated_sample_entry</code> zome call timing"
            "description" "The time taken to complete the zome function call that creates the entry that depends on a <code>write</code> agent's source chain."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .create_validated_sample_entry_zome_calls)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors accumulated over the run."
            "content" (tmpl.Exec "scalar" (dict "value" .error_count))
        ) }}
    {{ end }}
</div>
