{{ define "write_get_agent_activity_description" }}
<p>A scenario where <b><code>write</code></b> peers write entries, while <b><code>get_agent_activity</code></b> peers each query a single <code>write</code> agent's activity with <code>get_agent_activity</code>.</p>

<p>Before a target <code>write</code> peer and the requesting <code>get_agent_activity</code> peer are in sync, this will measure the <code>get_agent_activity</code> call performance over a network. Once a <code>write</code> peer reaches sync with a <code>get_agent_activity</code> peer, the <code>write</code> peer will publish their actions and entries, and so the <code>get_agent_activity</code> calls will likely have most of the data they need locally. At that point this measures the database query performance and code paths through host functions.</p>
{{ end }}

{{ template "scenario_summary" (dict
    "title" "Write/<code>get_agent_activity</code>"
    "description" (tmpl.Exec "write_get_agent_activity_description")
    "data" .run_summary
) }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "name" "Highest observed <code>action_seq</code>"
            "description" "The change in the highest action index on the <code>write</code> peer's source chain."
            "content" (tmpl.Exec "delta" .highest_observed_action_seq)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "<code>get_agent_activity_full</code> zome call timing"
            "description" "The time taken to call the zome function that retrieves information on a <code>write</code> peer's source chain."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .get_agent_activity_full_zome_calls)
        ) }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors accumulated."
            "content" (tmpl.Exec "scalar" (dict "value" .error_count))
        ) }}

        {{ if .p2p_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Outgoing p2p request duration"
                "description" "The time spent sending an outgoing p2p request awaiting the response"
                "content" (tmpl.Exec "timing_and_trend" .p2p_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p request handling duration"
                "description" "The time spent handling an incoming p2p request"
                "content" (tmpl.Exec "timing_and_trend" .p2p_request_duration)
            ) }}
        {{ end }}
    {{ end }}
</div>
