{{- define "zero_arc_create_and_read_description" }}
<p>A zero-arc/full-arc mixed scenario with two types of zero-arc nodes -- ones that create data and ones that read data -- as well as full arc nodes to "relay" the data. The scenario has three roles:</p>

<ul>
    <li><b><code>zero_write</code></b>: A zero-arc conductor that just creates entries with a timestamp field. Those entries are linked to a known base hash so that <code>zero_read</code> nodes can retrieve them.</li>
    <li><b><code>zero_read</code></b>: A zero-arc conductor that reads the entries created by the zero-arc node(s) and records the time lag between when the entry had been created and when it was first discovered.</li>
    <li><b><code>full</code></b>: A full-arc conductor that is just here to serve entries to zero arc nodes.</li>
</ul>
{{ end -}}

{{ template "scenario_summary" (dict
    "title" "Zero-Arc Create and Read"
    "description" (tmpl.Exec "zero_arc_create_and_read_description")
    "data" .run_summary
) }}

{{ define "zero_arc_create_and_read_open_connections" }}
    {{ range . }}
        {{ $key := (index .key 0) }}
        {{ template "scenario_metric_content_item" (dict
            "name" (print $key.value "-" $key.key)
            "content" (tmpl.Exec "min_max_mean_std" .gauge_stats)
        ) }}
    {{ end }}
{{ end }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Create rate"
            "description" "The number of timed entries created by the zero-arc write node(s) per second."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .create_rate)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Fetch lag timing"
            "description" "For each entry, the time lag between when it was created and when a zero-arc read node fetched it from the network via the <code>get_timed_entries_network</code> zome function."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .fetch_lag_timing)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Fetch lag rate"
            "description" "The number of entries per second fetched by zero-arc read nodes."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .fetch_lag_rate)
        ) }}

        {{ with .open_connections.partitions }}
            {{ template "scenario_metric" (dict
                "name" "Open connections"
                "description" "The number of currently open connections to other conductors."
                "content" (tmpl.Exec "zero_arc_create_and_read_open_connections" .)
            ) }}
        {{ end }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors accumulated across all nodes."
            "content" (tmpl.Exec "scalar" (dict
                "value" .error_count
            ))
        ) }}

        {{ template "holochain_p2p_metrics" .holochain_p2p_metrics }}
    {{ end }}
</div>
