{{- define "zero_arc_create_data_description" }}
A zero-arc/full-arc mixed scenario where zero-arc nodes create data and full-arc nodes read the data. The scenario has two roles:

<ul>
    <li><b><code>zero</code></b>: A zero-arc conductor that just creates entries with a timestamp field. Those entries are linked to a known base hash so that full-arc nodes can retrieve them.</li>
    <li><b><code>full</code></b>: A full-arc conductor that reads the entries created by the zero-arc node(s) and records the time lag between when the entry had been created and when it was first discovered.</li>
</ul>
{{ end -}}

{{ template "scenario_summary" (dict
    "title" "Zero-Arc Create Data"
    "description" (tmpl.Exec "zero_arc_create_data_description")
    "data" .run_summary
) }}

{{ template "zero_arc_shared" . }}
