{{/*
Render an array of key-value pairs in the form `{ "key": <key>, "value": <value> }` as a list.
Corresponding Rust type: `Vec<holochain_metrics::PartitionKey>`
*/}}
<ul class="composite-key">
    {{ range . }}
        <li><code class="composite-key-key">{{ .key }}</code>: <code class="composite-key-value">{{ .value }}</code></li>
    {{ end }}
</ul>
