{{ if .utilization }}
    {{ template "scenario_metric_content_item" (dict
        "name" "Utilisation"
        "content" (tmpl.Exec "mean_max" (dict
            "mean" .utilization.mean
            "max" .utilization.max
            "unit" "%"
        ))
    ) }}
{{ end }}
{{ if .use_time }}
    {{ template "db_connection_use_time" .use_time }}
{{ end }}
