<span class="delta">
    <span class="delta-start-end">
        <span class="delta-start">
            {{- template "scalar" (dict "value" .start "unit" (index . "unit")) -}}
        </span>
        {{ if (lt .start .end) }}
            <span class="divider delta-dir delta-dir-up">&#x2B06;</span>
        {{ else if (gt .start .end) }}
            <span class="divider delta-dir delta-dir-down">&#x2B07;</span>
        {{ end }}
        {{ if (ne .start .end) }}
            <span class="delta-end">
                {{- template "scalar" (dict "value" .end "unit" (index . "unit")) -}}
            </span>
        {{ end }}
    </span>

    {{ if (and .start .end (ne .start .end)) }}
        {{/* Start and end must be non-zero and not equal to each other for a percent change to make sense */}}
        <span class="delta-change">
            <span class="delta-percent-change">change:
                {{ template "scalar" (dict
                    "value" (math.Mul (math.Div .delta .start) 100)
                    "unit" "%"
                ) -}}
            </span>
            <span class="delta-measurement-duration">over {{ math.Add .measurement_duration.secs (math.Div .measurement_duration.nanos 1000000000) }}s ({{- template "scalar" (dict "value" .rate_per_second "unit" (index . "unit")) -}}/s)</span>
        </span>
    {{ end }}
</span>
