<div class="mean-max">
    <span class="mean-max-mean">
        {{- template "scalar" (dict "value" .mean "unit" (or (index . "unit") nil)) -}}
    </span>
    {{ if (ne .mean .max) }}
        <span class="mean-max-max">(max
            {{ template "scalar" (dict "value" .max "unit" (or (index . "unit") nil)) -}})
        </span>
    {{ end }}
</div>
