{{/*
Render a mean value.
Fields:

* `mean` (scalar): The mean value.
* `unit` (string, optional): The unit to display alongside the mean value.
*/}}
<span class="mean">
    {{- template "scalar" (dict
        "label" "mean "
        "value" .mean
        "unit" (index . "unit"))
    -}}
</span>
