<span class="mean-max">
    {{ template "mean" . }}
    {{ if (ne .mean .max) }}
        <span class="mean-max-max">
            {{/* These parentheses get wrapped in label spans so they're more subtle. */}}
            <span class="scalar-label">(</span>
            {{- template "scalar" (dict
                "label" "max "
                "value" .max
                "unit" (index . "unit"))
            -}}
            <span class="scalar-label">)</span>
        </span>
    {{ end }}
</span>
