{{/*
Render a rate and trend metric.
Corresponding Rust type: `holochain_metrics::StandardRateStats`
with an optional string `unit` field that will default to `"/s"`.
*/}}
{{ $unit := default "/s" (index . "unit") }}
{{ template "mean" (dict
    "mean" .mean
    "unit" $unit
) }}
{{ template "trend_graph" (dict
    "mean" .mean
    "data" .trend
    "unit" $unit
    "window_duration" .window_duration
) }}
