{{ $unit := default "/s" (index . "unit") }}
{{ template "mean" (dict
    "mean" .mean
    "unit" $unit
) }}
{{ template "trend_graph" (dict
    "mean" .mean
    "data" .trend
    "unit" $unit
    "window_duration" .window_duration
) }}
