<span class="scalar">
    {{- if (index . "label") -}}
        <span class="scalar-label">{{ .label }}</span>
    {{- end }}
    <span class="scalar-value">{{ .value }}</span>
    {{- if (index . "unit") -}}
        <span class="scalar-unit">{{ .unit }}</span>
    {{- end -}}
</span>