<div class="scenario-metric-content-item">
    <div class="scenario-metric-content-item-label">
        <div class="scenario-metric-content-item-name">{{ .name }}</div>
        {{ if (index . "description") }}
            <div class="scenario-metric-content-item-description">{{ .description }}</div>
        {{ end }}
    </div>
    <div class="scenario-metric-content-item-content">
        {{ .content }}
    </div>
</div>