{{/* Loop through an array of scenarios and render them,
choosing the proper template for each. */}}
{{ range . }}
    {{ $scenario_css_class := (strings.ReplaceAll "_" "-" .run_summary.scenario_name) }}
    {{/* The proper scenario-specific template name is a field in the run_summary object.
    Extract that and use `tmpl.Exec` cuz it can take a template name from a pipeline,
    whereas `template` seems to require a string literal. */}}
    {{ if (scenario_template_exists .run_summary.scenario_name) }}
        <section class="scenario scenario-{{ $scenario_css_class }}">
            {{ tmpl.Exec .run_summary.scenario_name . }}
        </section>
    {{ else }}
        <section class="scenario-not-found scenario-not-found-{{ $scenario_css_class }}">
            <p>No scenario template for <code>{{ .run_summary.scenario_name }}</code>!</p>
        </section>
    {{ end }}
{{ end }}
