<div class="scenario-summary">
    <h1>{{ .title }}</h1>

    <div class="scenario-summary-description">{{ .description }}</div>

    <div class="scenario-summary-details">
        <div class="scenario-summary-details-line">
            <div class="scenario-summary-details-label">Started</div>
            <div class="scenario-summary-details-value">{{ (time.Unix .data.started_at).Format time.RFC1123 }}</div>
        </div>

        {{ if .data.run_duration }}
            <div class="scenario-summary-details-line">
                <div class="scenario-summary-details-label">Duration</div>
                <div class="scenario-summary-details-value">{{ .data.run_duration }}s</div>
            </div>
        {{ end }}

        {{ if (index .data "peer_count") }}
            <div class="scenario-summary-details-line">
                <div class="scenario-summary-details-label">Peer count</div>
                <div class="scenario-summary-details-value">{{ .data.peer_count }}</div>
            </div>
        {{ end }}

        {{ if (index .data "peer_end_count") }}
            <div class="scenario-summary-details-line">
                <div class="scenario-summary-details-label">Peer count at end</div>
                <div class="scenario-summary-details-value">{{ .data.peer_end_count }}</div>
            </div>
        {{ end }}

        <div class="scenario-summary-details-line">
            <div class="scenario-summary-details-label">Behaviours</div>
            <div class="scenario-summary-details-value">
                <ul class="scenario-summary-kv scenario-summary-assigned-behaviours">
                    {{ range $behaviour, $count := .data.assigned_behaviours }}
                        <li><span class="scenario-summary-kv-key"><code>{{ $behaviour }}</code>:</span> {{ $count }} agent{{ if (ne $count 1) }}s{{ end }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>

        {{ if (index .data "env") }}
            <div class="scenario-summary-details-line">
                <div class="scenario-summary-details-label">Environment variables</div>
                <div class="scenario-summary-details-value">
                    <ul class="scenario-summary-kv scenario-summary-env-vars">
                        {{ range $var, $value := .data.env }}
                            <li><span class="scenario-summary-kv-key"><code>{{ $var }}</code>:</span> <code>{{ $value }}</code></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}

        <div class="scenario-summary-details-line">
            <div class="scenario-summary-details-label">Wind Tunnel version</div>
            <div class="scenario-summary-details-value">{{ .data.wind_tunnel_version }}</div>
        </div>

        <div class="scenario-summary-details-line">
            <div class="scenario-summary-details-label">Run ID</div>
            <div class="scenario-summary-details-value">{{ .data.run_id }}</div>
        </div>
    </div>
</div>
