<div class="scenario-metric {{ default "" (index . "class") }}">
    <div class="scenario-metric-label">
        <div class="scenario-metric-name">{{ .name }}</div>
        {{ if (index . "description") }}
            <div class="scenario-metric-description">{{ .description }}</div>
        {{ end }}
    </div>
    <div class="scenario-metric-content">
        {{ .content }}
    </div>
</div>
