{{/*
Create a concise page title from scenario names.
Expects a list of scenario objects with .run_summary.scenario_name fields.
*/}}
{{- $names := coll.Uniq (coll.JQ "map(.run_summary.scenario_name)" .) -}}
{{- $count := len $names -}}
{{- if eq $count 0 -}}
No scenarios
{{- else if le $count 3 -}}
{{ conv.Join $names ", " -}}
{{- else -}}
{{ conv.Join (coll.GoSlice $names 0 3) ", " }} and {{ sub $count 3 }} more
{{- end -}}
