{{/*
Many metrics in a scenario look better with multiple lines,
either because the metric has multiple components,
or because the row combines multiple related metrics.
This helper creates one such line.
Fields:

* `name`: A label for the line.
* `description` (optional): A description for the line.
* `content` (HTML): The content for the line.
*/}}
<div class="scenario-metric-content-item">
    <div class="scenario-metric-content-item-label">
        <div class="scenario-metric-content-item-name">{{ .name }}</div>
        {{ if (index . "description") }}
            <div class="scenario-metric-content-item-description">{{ .description }}</div>
        {{ end }}
    </div>
    <div class="scenario-metric-content-item-content">
        {{ .content }}
    </div>
</div>
