{{/* Loop through an array of scenarios and render them,
choosing the proper template for each. */}}
{{ range . }}
    {{/* The proper scenario-specific template name is a field in the run_summary object.
    Extract that and use `tmpl.Exec` cuz it can take a template name from a pipeline,
    whereas `template` seems to require a string literal. */}}
    {{ tmpl.Exec .run_summary.scenario_name . }}
{{ end }}
