{{/*
Render a standard deviation value.
Fields:

* `std` (scalar): The standard deviation value.
* `unit` (string, optional): The unit to display alongside the standard deviation value.
*/}}
<span class="std">
    {{/* These parentheses get wrapped in label spans so they're more subtle. */}}
    <span class="scalar-label">(</span>
    {{- template "scalar" (dict
        "label" "SD = "
        "value" .std
        "unit" (index . "unit"))
    -}}
    <span class="scalar-label">)</span>
</span>