{{/*
Render a timing and trend metric.
Corresponding Rust type: `holochain_metrics::StandardTimingStats`
with an optional string `unit` field that will default to `"s"`.
*/}}
{{ $unit := default "s" (index . "unit") }}
{{ template "mean_std" (dict
    "mean" .mean
    "std" .std
    "unit" $unit
) }}
{{ template "trend_graph" (dict
    "data" .trend.trend
    "mean" .mean
    "std" .std
    "window_duration" .trend.window_duration
    "unit" $unit
) }}
