{{/*
Render a timing and trend metric.
Corresponding Rust type: `holochain_metrics::StandardTimingsStats`
with an optional string `unit` field that will default to `"s"`.
*/}}
{{ $unit := default "s" (index . "unit") }}
{{ template "mean_std" (dict
    "mean" .mean
    "std" .std
    "unit" $unit
) }}

<div class="min-max-mean-std">
    <div class="min-max-mean-std-min">
        {{ template "scalar" (dict "label" "p50" "value" .p50 "unit" $unit) }}
    </div>
    {{ $p50_p95_symbol := test.Ternary "lt" "le" (lt .p50 .p95) }}
    <span class="divider divider-{{ $p50_p95_symbol }}">&{{ $p50_p95_symbol }};</span>
    <div class="min-max-mean-std-middle">
        <div class="scalar-sm">
            {{ template "scalar" (dict "label" "p95" "value" .p95 "unit" $unit) }}
        </div>
    </div>
    {{ $p95_p99_symbol := test.Ternary "lt" "le" (lt .p95 .p99) }}
    <span class="divider divider-{{ $p95_p99_symbol }}">&{{ $p95_p99_symbol }};</span>
    <div class="min-max-mean-std-max">
        {{ template "scalar" (dict "label" "p99" "value" .p99 "unit" $unit) }}
    </div>
</div>

{{ template "trend_graph" (dict
    "data" .trend.trend
    "mean" .mean
    "std" .std
    "window_duration" .trend.window_duration
    "unit" $unit
) }}
