{{ template "mean_std" (dict
    "mean" .mean
    "std" .std
    "unit" "s"
) }}
{{ template "trend_graph" (dict
    "data" .trend.trend
    "mean" .mean
    "std" .std
    "window_duration" .trend.window_duration
    "unit" "s"
) }}
