{{ define "timings_overall_template" }}
    {{ template "mean_std" (dict "mean" .mean "std" .mean_std_dev "unit" "s") }}
{{ end }}
{{ template "overall_and_per_agent" (dict
    "overall_data" .
    "overall_template" "timings_overall_template"
    "per_agent_data" .timings
    "per_agent_data_key" "summary_timing"
    "per_agent_template" "timing"
) }}
