{{ if (and .data (gt (len .data) 1)) }}
    {{ $svg_id := random.AlphaNum 16 }}
    <div class="trend-graph">
        <svg id="trend-svg-{{ $svg_id }}"></svg>
    </div>

    <script>createTrendGraph("trend-svg-{{ $svg_id }}", [{{ conv.Join .data ", " }}], {{ .mean }}, "{{ .window_duration }}", "{{ default "" (index . "unit") }}");</script>
{{ else }}
    <div class="no-trend-graph">Not enough time data to show a trend.</div>
{{ end }}
