{{/*
Render a trend graph and hook up the JS required to display it.
Fields:

* `data` (array of scalars): The data points to plot.
* `mean` (scalar): The mean value of the data points.
* `window_duration` (string): The duration of the window over which the data was collected,
  in the format `"<number><unit>"`, e.g. `"10s"` or `"5m"`.
* `unit` (string, optional): The unit for the data points.
*/}}
{{ if (and .data (gt (len .data) 1)) }}
    {{ $svg_id := random.AlphaNum 16 }}
    <div class="trend-graph">
        <svg id="trend-svg-{{ $svg_id }}"></svg>
    </div>

    <script>createTrendGraph("trend-svg-{{ $svg_id }}", [{{ conv.Join .data ", " }}], {{ default "null" (index . "mean") }}, "{{ .window_duration }}", "{{ default "" (index . "unit") }}");</script>
{{ else }}
    <div class="no-trend-graph">Not enough time data to show a trend.</div>
{{ end }}
