{{/*
`zero_arc_create_data`, `zero_arc_create_data_validated`, and `zero_arc_create_and_read`
all have identical sets of scenario metrics.
This helper serves them all.
Fields:

* `scenario_metrics`: The scenario metrics data structure.
  Fields: `create_rate`, `sync_lag_timing`, `sync_lag_rate`, `open_connections`, `error_count`
* `extra_metrics` (HTML, optional): Extra metrics to inject
  between the open connections metric and the error count metric.
  Only used by `zero_arc_create_data_validated` at present.
*/}}

{{ define "zero_arc_shared_open_connections" }}
    {{ range . }}
        {{ $key := (index .key 0) }}
        {{ template "scenario_metric_content_item" (dict
            "name" (print $key.value "-" $key.key)
            "content" (tmpl.Exec "min_max_mean_std" (dict
                "min" .gauge_stats.min
                "max" .gauge_stats.max
                "mean" .gauge_stats.mean
                "std" .gauge_stats.std
            ))
        ) }}
    {{ end }}
{{ end }}

<div class="scenario-metrics">
    {{ with .scenario_metrics }}
        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Create rate"
            "description" "The number of timed entries created by the zero-arc node(s) per second."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .create_rate)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Sync lag timing"
            "description" "For each entry, the time lag between when it was created and when the full-arc node could read it via the <code>get_timed_local_entries</code> zome function."
            "content" (tmpl.Exec "timings_overall_and_per_agent" .sync_lag_timing)
        ) }}

        {{ template "scenario_metric" (dict
            "class" "large"
            "name" "Sync lag rate"
            "description" "The number of entries per second received by full nodes."
            "content" (tmpl.Exec "rates_overall_and_per_agent" .sync_lag_rate)
        ) }}

        {{ with .open_connections.partitions }}
            {{ template "scenario_metric" (dict
                "name" "Open connections"
                "description" "The number of currently open connections to other conductors."
                "content" (tmpl.Exec "zero_arc_shared_open_connections" .)
            ) }}
        {{ end }}

        {{/* Allow scenarios to inject extra metrics before error count.
        Currently this is only used by zero_arc_create_data_validated. */}}
        {{ if (index $ "extra_metrics") }}
            {{ $.extra_metrics }}
        {{ end }}

        {{ template "scenario_metric" (dict
            "name" "Error count"
            "description" "The number of errors accumulated across all nodes."
            "content" (tmpl.Exec "scalar" (dict
                "value" .error_count
            ))
        ) }}

        {{ if .p2p_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Outgoing p2p request duration"
                "description" "The time spent sending an outgoing p2p request awaiting the response"
                "content" (tmpl.Exec "timing_and_trend" .p2p_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_duration }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p request handling duration"
                "description" "The time spent handling an incoming p2p request"
                "content" (tmpl.Exec "timing_and_trend" .p2p_handle_request_duration)
            ) }}
        {{ end }}

        {{ if .p2p_handle_request_ignored_count }}
            {{ template "scenario_metric" (dict
                "name" "Incoming p2p requests ignored"
                "description" "The number of incoming p2p requests that have been ignored."
                "content" (tmpl.Exec "scalar" (dict "value" .p2p_handle_request_ignored_count))
            ) }}
        {{ end }}
    {{ end }}
</div>
