/*
Sample CSS for use in scenario templates.
This CSS needs the following variables to be defined:

  Colours:
    --background: the background colour for each scenario
    --subtle: less prominent text/graphics
    --more-subtle: even less prominent text/graphics
    --smoke: an extremely light colour, used for overlays
    --good: indicate a desirable value (e.g., performance increases)
    --bad: indicate an undesirable value (e.g., latency increases)
    --highlight: an item that should have attention drawn to it via colour,
                 used for example as the line in trend graphs
    --highlight-subtle: highlighted, but secondary to --highlight

  Layout:
    --grid: Column sizes for label/content style information; the first is for
            labels and the second is for content. You should give a generous
            amount of space to content.
    --grid-gap: The space between labels and content.
    --numeric-size: Many metrics have a numeric widget of some sort, whether a
                    simple scalar, a min/std value, or a composite value.
                    These metrics often also have a trend graph or other widget
                    that comes after them -- this value gives a consistent
                    amount of space for the numeric value so that whatever comes
                    after it will be lined up row-on-row.
*/

.scenario {
    background-color: var(--background);
}

.scenario-summary {
    margin-bottom: 4em;
}

.scenario-summary-description {
    font-size: 1.25em;
    color: var(--subtle);
    margin: 2em 0;
}

.scenario-summary-details-line {
    display: grid;
    grid-template-columns: var(--grid);
    gap: var(--grid-gap);
    margin: 0.75em 0;
}

.scenario-summary-details-label {
    text-align: right;
    color: var(--subtle);
}

.scenario-summary-details-value {
    font-weight: bold;
}

.scenario-summary-kv {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.scenario-summary-kv-key {
    font-weight: normal;
    color: var(--subtle);
}

/* Metric structure */

.scenario-metric {
    display: grid;
    grid-template-columns: var(--grid);
    align-items: center;
    gap: var(--grid-gap);
    border-width: 2px;
}

/* Most metrics don't look good with their label top-aligned,
but for some larger metrics, it's hard to see the label without scrolling. */
.scenario-metric.large {
    align-items: start;
}

.scenario-metric, .scenario-metric-content-item {
    margin: 1em 0;
    width: 100%;
}

.scenario-metric, .scenario-metric-content-item:not(:first-child) {
    padding-top: 1em;
    border-top-style: solid;
    border-color: var(--smoke);
}

.scenario-metric-content-item {
    border-width: 1px;
}

.scenario-metric-content-item:first-child {
    margin-top: 0;
}

.scenario-metric-label, .scenario-metric-content-item-label {
    color: var(--subtle);
}

.scenario-metric-name {
    font-size: 1.25em;
    font-weight: bold;
}

.scenario-metric-label {
    text-align: right;
}

/* The data for a metric */
.scenario-metric-content:not(:has(.scenario-metric-content-item)),
.scenario-metric-content-item-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

/*** Widgets ***/

.scalar-value {
    font-size: 2rem;
    font-weight: 600;
}

/* Supplementary numbers shouldn't be so big. */
.mean-std-std .scalar-value,
.mean-max-max .scalar-value,
.delta-change .scalar-value {
    font-size: inherit;
}

/* These are spans in the markup, but we want them to be block elements. */
.mean-std > *, .mean-max > * {
    display: block;
}

.delta-start-end {
    display: flex;
    align-items: center;
}

.delta-change {
    display: block;
}

.delta-dir {
    color: var(--more-subtle);
    font-size: 2em;
}

/* Many metrics contain both a scalar and a trend graph.
In those cases, make sure all the scalars are the same width
so the following graph lines up. */
.scenario-metric-content .scalar:first-child,
.scenario-metric-content .mean-std:first-child,
.scenario-metric-content .mean-max:first-child,
.scenario-metric-content-item-content .scalar:first-child,
.scenario-metric-content-item-content .mean-std:first-child,
.scenario-metric-content-item-content .mean-max:first-child {
    width: var(--numeric-size);
}

/*** Graph SVG ***/

/* Axis labels for a graph */
.axis-label {
    font-size: 11px;
    fill: var(--subtle);
}

/* The line in a trend graph */
.trend-line {
    fill: none;
    stroke: var(--highlight);
    stroke-width: 2;
}

/* The area under the trend line */
.trend-area {
    fill: var(--smoke);
    opacity: 0.2;
}

/* The mean line in a trend graph */
.mean-line {
    stroke: var(--highlight-subtle);
    stroke-width: 2;
    stroke-dasharray: 3, 3;
}

/* To line up with the start of the graph, indent the "no trend data available" note.
This is a bit of a hard-coded hack based on our knowledge that the JS gives 60px for the Y axis labels. */
.no-trend-graph {
    margin-left: 60px;
    color: var(--subtle);
}
