<section class="scenario scenario-dht-sync-lag">
    {{> scenarioSummary
        title=title
        description=description
        data=run_summary
    }}

    <div class="scenario-metrics">
        {{#> scenarioMetric name="Create rate" cssClass="create-rate"}}
            {{#with scenario_metrics.create_rate.rates.[0].summary_rate}}
                {{> scalar value=mean unit=" ops/s"}}
                {{> trendGraph
                    data=trend
                    mean=mean
                    windowDuration=window_duration
                    unit=" ops/s"
                    svgId="create-rate"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Sync lag timing" cssClass="sync-lag-timing"}}
            {{#with scenario_metrics.sync_lag_timing.timings.[0].summary_timing}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="sync-lag-timing"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Sync lag rate" cssClass="sync-lag-rate"}}
            {{#with scenario_metrics.sync_lag_rate.rates.[0].summary_rate}}
                {{> scalar value=mean unit=" count/s"}}
                {{> trendGraph
                    data=trend
                    mean=mean
                    windowDuration=window_duration
                    unit=" count/s"
                    svgId="sync-lag-rate"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Error count"}}
            {{> scalar value=scenario_metrics.error_count}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Cascade duration"}}
            {{#with scenario_metrics.cascade_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="cascade-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="WASM usage" cssClass="stacked"}}
            {{#with scenario_metrics.wasm_usage_total}}
                {{#> scenarioMetricDatum name="Total"}}
                    {{> delta
                        start=start
                        end=end
                        measurementDuration=measurement_duration.secs
                        ratePerSecond=rate_per_second
                    }}
                {{/scenarioMetricDatum}}
            {{/with}}

            {{#each scenario_metrics.wasm_usage_by_fn}}
                {{#> scenarioMetricDatum name=@key}}
                    {{> delta
                        start=start
                        end=end
                        measurementDuration=measurement_duration.secs
                        ratePerSecond=rate_per_second
                    }}
                {{/scenarioMetricDatum}}
            {{/each}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="<code>post_commit</code> duration"}}
            {{#with scenario_metrics.post_commit_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="post-commit-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Publish DHT ops workflow duration"}}
            {{#with scenario_metrics.publish_dht_ops_workflow_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="publish-dht-ops-workflow-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Integrate DHT ops workflow duration"}}
            {{#with scenario_metrics.integrate_dht_ops_workflow_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="integrate-dht-ops-workflow-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Countersigning workflow duration"}}
            TODO
        {{/scenarioMetric}}

        {{#> scenarioMetric name="App validation workflow duration"}}
            {{#with scenario_metrics.app_validation_workflow_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="app-validation-workflow-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="System validation workflow duration"}}
            {{#with scenario_metrics.system_validation_workflow_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="system-validation-workflow-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Validation receipt workflow duration"}}
            {{#with scenario_metrics.validation_receipt_workflow_duration}}
                {{> meanStd mean=mean std=std unit="s"}}
                {{> trendGraph
                    data=trend.trend
                    mean=mean
                    windowDuration=trend.window_duration
                    unit="s"
                    svgId="validation-receipt-workflow-duration"
                }}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Authored DB" cssClass="stacked"}}
            {{!-- note that this metric has been transformed in scenarioTransforms.js --}}
            {{#each scenario_metrics.authored_db_utilization}}
                {{#> scenarioMetricDatum name=name}}
                    {{> meanMax mean=mean max=max unit="%"}}
                {{/scenarioMetricDatum}}
            {{/each}}

            {{#with scenario_metrics.authored_db_connection_use_time}}
                {{#> scenarioMetricDatum name="Use time"}}
                    {{> meanStd mean=mean std=std unit="s"}}
                    {{> trendGraph
                        data=trend.trend
                        mean=mean
                        windowDuration=trend.window_duration
                        unit="s"
                        svgId="authored-db-connection-use-time"
                    }}
                {{/scenarioMetricDatum}}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="Conductor DB" cssClass="stacked"}}
            {{#with scenario_metrics.conductor_db_utilization}}
                {{#> scenarioMetricDatum name="Utilisation"}}
                    {{> meanMax mean=mean max=max}}
                {{/scenarioMetricDatum}}
            {{/with}}

            {{#with scenario_metrics.conductor_db_connection_use_time}}
                {{#> scenarioMetricDatum name="Use time"}}
                    {{> meanStd mean=mean std=std unit="s"}}
                    {{> trendGraph
                        data=trend.trend
                        mean=mean
                        windowDuration=trend.window_duration
                        unit="s"
                        svgId="conductor-db-connection-use-time"
                    }}
                {{/scenarioMetricDatum}}
            {{/with}}
        {{/scenarioMetric}}

        {{#> scenarioMetric name="DHT DB" cssClass="stacked"}}
            {{#with scenario_metrics.dht_db_utilization}}
                {{#> scenarioMetricDatum name="Utilisation"}}
                    {{> meanMax mean=mean max=max}}
                {{/scenarioMetricDatum}}
            {{/with}}

            {{#with scenario_metrics.dht_db_connection_use_time}}
                {{#> scenarioMetricDatum name="Use time"}}
                    {{> meanStd mean=mean std=std unit="s"}}
                    {{> trendGraph
                        data=trend.trend
                        mean=mean
                        windowDuration=trend.window_duration
                        unit="s"
                        svgId="dht-db-connection-use-time"
                    }}
                {{/scenarioMetricDatum}}
            {{/with}}
        {{/scenarioMetric}}
    </div>
</section>
