name: "Run demo performance tests on Nomad cluster"

on:
  workflow_dispatch:
    inputs:
      holochain-bin-url:
        description: "The URL to download the `holochain` binary from"
        required: false
      commit-hash:
        description: "The commit hash to checkout before running the tests"
        required: false
  pull_request:
    paths:
      - ".github/workflows/nomad*.yaml"
      - ".github/actions/nomad/action.yaml"

concurrency:
  group: nomad-demo
  cancel-in-progress: false

jobs:
  nomad-demo:
    uses: ./.github/workflows/nomad-common.yaml
    secrets:
      NOMAD_ACCESS_TOKEN: ${{ secrets.NOMAD_ACCESS_TOKEN }}
      INFLUX_TOKEN: ${{ secrets.INFLUX_TOKEN }}
    with:
      holochain-bin-url: ${{ inputs.holochain_bin_url != '' && inputs.holochain_bin_url || 'https://github.com/holochain/holochain/releases/download/holochain-0.5.6/holochain-go-pion-unstable-x86_64-unknown-linux-gnu' }}
      commit-hash: ${{ inputs.commit-hash }}
      nomad-job-variant-directory: "nomad/job-variants/demo"
      enable-summary-uploads: false
      ignore-summary-errors: false
