name: "Run canonical performance tests on Nomad cluster"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4" # Run Nomad workflow at 00:00 on Thursdays

concurrency:
  group: nomad-canonical
  cancel-in-progress: false

jobs:
  nomad-canonical:
    uses: ./.github/workflows/nomad-common.yaml
    secrets:
      NOMAD_ACCESS_TOKEN: ${{ secrets.NOMAD_ACCESS_TOKEN }}
      INFLUX_TOKEN: ${{ secrets.INFLUX_TOKEN }}
      HETZNER_HOLOCHAIN_INFRA_BUCKETS_ACCESS: ${{ secrets.HETZNER_HOLOCHAIN_INFRA_BUCKETS_ACCESS }}
      HETZNER_HOLOCHAIN_INFRA_BUCKETS_SECRET: ${{ secrets.HETZNER_HOLOCHAIN_INFRA_BUCKETS_SECRET }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
    with:
      holochain-bin-url: https://github.com/holochain/holochain/releases/download/holochain-0.6.0/holochain-go-pion-unstable-x86_64-unknown-linux-gnu
      nomad-job-variant-directory: "nomad/job-variants/canonical"
      enable-summary-uploads: true
      ignore-summary-errors: true
