name: "test"

on:
  push:
    branches:
      - main
      - main-*
  pull_request:
    branches:
      - main
      - main-*
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Maximize build space
        if: runner.os == 'Linux'
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-codeql: "true"
          remove-docker-images: "true"

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          install_url: https://releases.nixos.org/nix/nix-2.28.3/install
          extra_nix_config: |
            accept-flake-config = true

      - uses: cachix/cachix-action@v16
        with:
          name: holochain-ci
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - uses: Swatinem/rust-cache@v2
        with:
          # Additional key to ensure that cache is invalidated when flake lock updated
          key: ${{ hashFiles('flake.lock') }}

      # We do a custom build of Holochain in the CI shell which can take up a lot of
      # disk space. We want to build and cache this early in the workflow so that if we
      # do run out of disk space, then at least we've captured that big piece in the
      # cache and can just download it next time.
      - name: Cache CI shell
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
        run: |
          nix develop --profile ci-profile -c true
          cachix push holochain-ci ci-profile

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h

      - name: Smoke test - kitsune_continuous_flow
        run: |-
          set -x

          kitsune_host="127.0.0.1:30000"

          # Start local bootstrap and relay server
          nix develop .#kitsune -c bash -c "kitsune2-bootstrap-srv --no-sbd --listen $kitsune_host &"

          # Run the scenario
          nix run .#rust-smoke-test -- --package kitsune_continuous_flow -- --bootstrap-server-url "http://$kitsune_host" --relay-url "http://$kitsune_host" --duration 15 --agents 2

          # Stop servers
          pkill -f kitsune2-bootstrap-srv || true

          echo "==> Available space after step"
          echo
          df -h
